body{
    width: 600px;
    height: 1161px;
    margin: auto;
    font-family: Smythe;
    right: 0px;
    left: 0px;
}

section{
    width: 100%;
}

p{
    margin: 0;
}

.hidden{
    display: none !important;
}

.main-content{
    padding: 0 45px
}

.header{
    background-image: url("background.jpg");
    height: 167px;
    color: #ffff;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.title{
    font-size: 40px;
    margin: 0;
}

.intro{
    font-size: 23px;
    margin: 10px 0;
}


.icon{
    opacity: 72%;
    font-size: 78px;
}

.item-container{
    display: flex;
    border-bottom: 1px solid;
    border-color: #d2d2d2;
    padding: 50px 0;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.add-btn{
    width: 50;
    height: 50;
    border-radius: 50%;
    font-weight: 200;
    border: 1px solid #d2d2d2;
    background-color: transparent;
    font-size: 30px;
}

.item-name{
 font-size: 28px;
}
.ingredients{
    color: #8B8B8B;
}

.price{
    font-size: 20px;
    margin-top: 10px;
}

.cart-container{
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
}

.cart-element{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0;
}

.total-display{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #393333;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inline{
    display: inline;
}

.confirm-btn{
    width: 100%;
    background: #16DB99;
    border: none;
    border-radius: 4px;
    color: #ffff;
    height: 60px;
    margin: 50px 0;
    font-weight: bold;
    font-size: 20px;

}

.remove-btn{
    border: none;
    background-color: transparent;
    font-family: Verdana;
    color: #BBBBBB;
    font-size: 12px;
}

.payment-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    font-size: 28px;
    font-family: Verdana;
}

.text-input{
    display: block;
    width: 100%;
}

.center{
    display: flex;
    justify-content: space-between;
}
span{
    font-size: 28px;
    margin-right: 15px;
}

.text-input{
height: 70px;
margin-bottom: 25px;
border: 1.3px solid #757575;
border-radius: 4px;
padding: 0 25px;
font-size: 20px;
}

.card-title{
    margin: 25px 0;
}

.modal{
    position: fixed;
    padding: 25px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 525px;
    height: 550px;
    border-radius: 4px;
    background-color: #ffff;
    /* box-shadow: 0px 0px 6px 2px #666; */
    box-shadow: 5px 5px 255px 100px #00000080;

}

.success{
    font-size: 30px;
    padding: 50px;
    margin-top: 45px;
    color: #065F46;
    background: #ECFDF5;
    display: flex;
    justify-content: center;
}